<div class="header clearfix">
	<a href="{{ site.base_url }}/">
		<h1 class="float-left">Indivisible CA-14</h1>
	</a>
	<nav role="navigation">
		<ul class="nav nav-pills flex-sm-row flex-column float-right">
			<li class="nav-item">
				<a class="nav-link" href="/">
					Overview
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/news">
					News
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/moc">
					Our Congresspeople
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/resources">
					Resources
				</a>
			</li>
		</ul>
	</nav>
</div>
